* {
    background-color: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
}

h3>a {
    color: aquamarine;
    font-size: 16px;
}