* {
    background-color: black;
    text-align: center
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h4>a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;

}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

h3.right {
    text-align: right !important;
    color: grey;
}